<div class="col-md-3">
    <h3 class="m-2">Hesabım</h3>
    <hr class="mt-0">
    <ul class="list-group mt-3">
        <a style="text-decoration: none;" href="/account"><li class="list-group-item">Kişisel Bilgilerim</li></a>
        <a style="text-decoration: none;" href="/profile-edit"><li class="list-group-item">Profilimi Düzenle</li></a>
        <a style="text-decoration: none;" href="/reset-password"><li class="list-group-item">Parolamı Değiştir</li></a>
        <a id="account-logout" href="/auth/logout"><li style="color:red;" class="list-group-item">Çıkış Yap</li></a>
    </ul>
</div>